<header class="bg-dark" >
  <div class="d-flex align-center">
    <img id="logo" src="./assets/folder_icon.png" alt="logo">
    <p id="title" class="mx-1">Documentation</p>
  </div>
  <nav class="d-flex">
    <li class="mr-1" routerLink="angular" routerLinkActive="angular-gradient-text">Angular</li>
    <li class="mx-1" routerLink="github" routerLinkActive="github-gradient-text ">Github</li>
    <li class="mx-1" routerLink="algorithms" routerLinkActive="algo-gradient-text">Algorithmiques</li>
   <!-- <li class="mx-1">Design</li>
    <li class="mx-1">CSS</li>-->
  </nav>
</header>
