<header class="bg-dark" >
  <div class="d-flex align-center">
    <img id="logo" src="./assets/folder_icon.png" alt="logo">
    <p id="title" class="mx-1">Documentation</p>
  </div>
  <nav class="d-flex">
    <li class="mr-1" routerLink="angular" routerLinkActive="red-yellow-text" (click)="getPath('Angular')" >Angular</li>
    <li class="mx-1" routerLink="github" routerLinkActive="blue-purple-txt" (click)="getPath('Github')">Github</li>
    <li class="mx-1" routerLink="algorithms" routerLinkActive="blue-green-txt" (click)="getPath('Algorithmique')">Algorithmiques</li>
   <!-- <li class="mx-1">Design</li>
    <li class="mx-1">CSS</li>-->
  </nav>
</header>
