header {
  height: 68px;
  width: 100%;
  padding: 0 1em 0 2em ;
}

#logo {
  width: 64px;
  height: 64px;
}

#title {
  font-size: 20px;
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

li {
  cursor: pointer;
  list-style: none;
}
