header {
  height: 90px;
  width: 100%;
  padding: 1em;

}

#logo {
  width: 64px;
  height: 64px;
}

#title {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.w-100 {
  width: 100%;
}

li {
  cursor: pointer;
  list-style: none;
}

p {
  font-size: 0.7em;
  margin: 0;
}

.test {

}
