<h2>Introduction</h2>

<h3>Les enjeux du développement logiciel remis en question</h3>

<h4>Réussir à faire fonctionner le logiciel n'est que la première étape</h4>

<p>Le vrai enjeu du développement de logiciel est de rester évolutif dans la durée, c'est-à-dire permettre d'ajouter facilement des fonctionnalités, et de rester maintenable, c'est-à-dire permettre de changer facilement des fonctionnalités existantes.</p>

<h4>Définir le besoin est au moins aussi difficile que d'écrire le code correspondant</h4>

<p>Les développeurs ont l'habitude d'attendre une expression de besoin parfaitement définie dans chaque détail. Plus précisément, ils ont l'habitude de se plaindre de ne pas avoir une telle qualité de définition du besoin, reproches adressés aux analystes ou Product Owners.</p>
<p>Le Software Craft accepte l'idée que définir le besoin est éminemment difficile, avec comme conséquences, d'une part, que c'est un processus de découverte progressive, souvent même en cours d'écriture du code, et d'autre part que c'est une démarche collective incluant ceux et celles qui écrivent le code, au côté des futurs utilisateurs.</p>

<h4>Une boite à outils de techniques</h4>

<p>Les techniques majeures sont : </p>
<ul>
  <li><span class="pink-purple-txt">TDD </span>: Test-Driven Development</li>
  <li><span class="pink-purple-txt">BDD </span>: Behavior-Driven Development</li>
  <li><span class="pink-purple-txt">Clean Code</span></li>
  <li><span class="pink-purple-txt">DDD</span> : Domain-Driven Development</li>
  <li>Techniques spécifiques de <span class="pink-purple-txt">"Legacy Remediation"</span> (remaniement du code hérité), pour reprendre le contrôle, mettre sous tests et réparer du code ancien et mal entretenu.</li>
  <li>Technique de conception orienté objet <span class="pink-purple-txt">(POO)</span> et style de programmation fonctionnelle <span class="pink-purple-txt">(FP)</span>, principes de conception <span class="pink-purple-txt">SOLIDE</span>, ...</li>
  <li><span class="pink-purple-txt">Technique de collaboration</span> : pair programming, mob programming. Car collaborer efficacement cela s'apprend et se travaille</li>
  <li><span class="pink-purple-txt">Application et adaptation</span> de tout ce qui précède pour les technologies comme le cloud, le machine learning, et les infrastructures data</li>
</ul>
