<h2>Introduire le craft dans votre contexte</h2>

<h3>1. Démarrer le craft à titre individuel ou entre collègue</h3>

<p>Participer à des conférences (NewCraft) ou non-conférence (SoCraTES France) et assister aux sessions sur des pratiques
craft.</p>

<h4>Kata par kata</h4>

<ul>
  <li><span class="pink-purple-txt">FizzBuzz</span> : pratique du TDD.</li>
  <li><span class="pink-purple-txt">Roman Numerals</span> : comprendre l'importance de l'ordre de la séquence de tests
  dans le résultat.</li>
  <li><span class="pink-purple-txt">Prime Décomposition</span> : montrer l'intérêt du TDD.</li>
  <li><span class="pink-purple-txt">Gilded Rose</span> : code légacy (et d'autre kata d'Emily Bache comme : Pourrez-vous
    rendre le code existant plus facile à maintenir ?)</li>
  <li><span class="pink-purple-txt">Tennis ou Bowling</span> : modéliser un métier de complexité modérée.</li>
  <li><span class="pink-purple-txt">Mars Rover</span> : pratique des design pattern en prime.</li>
  <li><span class="pink-purple-txt">SuperMarket Pricing</span> : pour spécifier (à faire avec PO et Business Analysts).</li>
</ul>

<p>Il est également possible de refaire les kata avec d'autres contraintes, comme celles des objets callisthéniques, ou
tout autre point (TDD plus strict, responsabilité unique,..., ou mieux connaître les raccourcis du clavier)</p>

<p>Le <a href="https://www.coderetreat.org/?seed=9271"> code retreat</a>, est un évènement d'une journée où les participants
réalisent le même kata 6 fois avec des contraintes différentes.</p>

<h3>2. Introduire le craft dans une organisation</h3>

<p>Avoir une approche en 2 temps : initialiser une dynamique relativement informelle dans un premier temps, sur laquelle
construire ensuite une démarche plus formelle et avec des sponsors.</p>

<h4>2.1 Initialiser une dynamique</h4>

<p>Commencer par des actions suffisamment modestes pour ne pas nécessiter de soutien hiérarchique. Une pause déjeuner par
  semaine sous forme de coding dojo.</p>

<p>Puis éduquer équipe par équipe.</p>

<h4>2.2 Convaincre les sponsors</h4>

<ul>
  <li><span class="pink-purple-txt">Économique </span>: le temps de cycle, la réduction du nombre de défauts, la fréquence
  des livraisons, la vitesse de remédiation en cas d'anomalie.</li>
  <li><span class="pink-purple-txt">Benchmarking</span> : savoir que les concurrents sont engagées dans des démarches craft.</li>
  <li><span class="pink-purple-txt">Évolution culturelle</span> : contribue à faire évoluer la culture des équipes vers
  les enjeux d'actualité, dont elle augmente les chances de succès : move-to-cloud, microservice, .... sont des sujets
  qui requièrent une bonne maîtrise de la complexité technologique et collaborative, au coeur du craft.</li>
  <li><span class="pink-purple-txt">Marque employeur</span></li>
</ul>

<h3>3. Les causes d'échec du craft</h3>

<ul>
  <li><span class="pink-purple-txt">Le craft comme une fin en soi</span> : l'objectif est de livrer de la valeur.</li>
  <li><span class="pink-purple-txt">Le craft comme source de procrastination</span> : arrive quand le travail attendu
  paraît ennuyeux ou peu intéressant.</li>
  <li><span class="pink-purple-txt">Amélioration sans fin </span>: objectif de l'amélioration est d'avoir des bénéfices
  attendus et avérés.</li>
  <li><span class="pink-purple-txt">Arrogance face au client</span></li>
  <li><span class="pink-purple-txt">Élitisme</span></li>
</ul>
