<h2>Craft 2.0</h2>

<h3>Attitudes</h3>

<ul>
  <li><span class="pink-purple-txt">Commencer par le but à atteindre</span> : le développement dirigé par les tests.</li>
  <li><span class="pink-purple-txt">Collaborer en continu</span>Collaborer en continu : développement dirigé par le comportement (BDD).</li>
  <li><span class="pink-purple-txt">Clean code</span>Clean code : rendre le code lisible (nommage).</li>
  <li><span class="pink-purple-txt">Limiter la taille des artefacts</span>Limiter la taille des artefacts : méthodes courtes et règle des objets callisténiques.</li>
  <li><span class="pink-purple-txt">Des façons de faire différentes selon les contextes.</span></li>
  <li><span class="pink-purple-txt">Baby step</span> : TDD, Scrum.</li>
  <li><span class="pink-purple-txt">Chercher le feedback rapide.</span></li>
  <li><span class="pink-purple-txt">KISS.</span></li>
</ul>
