// Color
$dark: #010115;
$light2: #e8e8f4;
$light: #f3f3f8;

$blue-dark: #002451;


$red: #de1e12;
$yellow: #fcbf2e;
$pink: #FA30C5;
$purple: #860CF0;



$purple: #BF25FFFF;
$blue: #2069FFFF;
$green: #25FF6FFF;
$bluepurplegradient: linear-gradient(0deg, $purple 0%, $blue 90%);

$pinkPurple-gradient: linear-gradient(0deg, $pink 0%, $purple 90%);

.bg-light {
  background-color: $light;
}
.bg-dark {
  background-color: $dark;
}
.light {
  color: $light
}

.pink-purple-txt {
  background: -webkit-linear-gradient(90deg, $pink 0%, $purple 100% ) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
$pink-purple-txt :pink-purple-txt;


.pink-purple {
  background-image: linear-gradient(90deg, $pink 0%, $purple 60%);
}

.red-yellow-txt {
  background: -webkit-linear-gradient(90deg, $yellow 0%, $red 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-yellow {
  background-image: linear-gradient(90deg, $yellow 0%, $red 60%);
}

.red{
  color: $red;
}
.blue {
  color: $blue;
}

.blue-purple {
  background: linear-gradient(0deg, $purple 0%, $blue 90%);
}

.blue-purple-txt{
  background: linear-gradient(0deg, $purple 0%, $blue 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-green {
  background-image: linear-gradient(0deg, $green 0%, $blue 90%);
}
.blue-green-txt {
  background: -webkit-linear-gradient(90deg, $green 0%, $blue 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
