// Color
$dark: #010115;
$light2: #e8e8f4;
$light: #f3f3f8;

$red: #de1e12;
$yellow: #fcbf2e;

$purple: #BF25FFFF;
$blue: #2069FFFF;
$green: #25FF6FFF;

.bg-light {
  background-color: $light;
}
.bg-dark {
  background-color: $dark;
}
.light {
  color: $light
}

.angular-gradient-text {
  background: -webkit-linear-gradient(90deg, $yellow 0%, $red 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.angular-gradient {
  background-image: linear-gradient(90deg, $yellow 0%, $red 60%);
}

// red
.angular-red {
  color: $red;
}
.blue {
  color: $blue;
}

// g-purple-blue
.github-color {
 /* background: linear-gradient(0deg, rgba(46,252,108,1) 0%, rgba(18,94,222,1) 80%);*/
  background: linear-gradient(0deg, $purple 0%, $blue 90%);
}
.github-gradient-text {
  /* background: linear-gradient(0deg, rgba(46,252,108,1) 0%, rgba(18,94,222,1) 80%);*/
  background: linear-gradient(0deg, $purple 0%, $blue 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.algo-gradient  {
  background-image: linear-gradient(0deg, $green 0%, $blue 90%);
}
.algo-gradient-text {
  background: -webkit-linear-gradient(90deg, $green 0%, $blue 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
