<h2 class="red-yellow-txt">Observables</h2>
<p>La gestion de <span class="red">l'asynchrone</span> se fait généralement avec 3 outils :</p>
<ul>
  <li>Les <span class="red">callbacks :</span> des fonctions appelées lorsque l'évènement attendu a lieu ;</li>
  <li>les <span class="red">promises :</span> des objets avec des méthodes <code class="code-inline"> then() </code> et <code class="code-inline"> catch() </code> qui sont appelées lorsque l'évènement attendu a lieu ;</li>
  <li>les <span class="red">fonctions async/await :</span> des fonctions qui mettent leur exécution en attente jusqu'à l'arrivée de l'évènement attendu.</li>
</ul>
<p>Angular fournit un outil pour gérer les évènements qui ont lieu au cours du temps : la <span class="red">library RxJS</span>  et ses <span class="red">Observables</span></p>
