<div class="d-flex align-center p-sticky bg-light z-index-1">
  <img class="techno-logo" src="./assets/angular.png" alt="logo">
  <h1 class="text-center angular-gradient-text">Angular</h1>
</div>
<img class="bot angular-gradient" src="./assets/images/chatbot.png">
<router-outlet></router-outlet>
<div class="text-center my-2">
  <i class="fa-solid fa-circle-arrow-left angular-gradient-text fs-1_5 mx-1"></i>
  <i class="fa-solid fa-circle-arrow-right angular-gradient-text fs-1_5 mx-1"></i>
</div>

<!--<h2>PWA</h2>-->




