<h2>Etat d'esprit</h2>

<h3>1. Développer son savoir faire</h3>

<h4>1.2 C'est en craftant...</h4>

<p>3 phases d'apprentissage :</p>
<ul>
  <li><span class="pink-purple-txt">Apprendre les bases</span>;</li>
  <li><span class="pink-purple-txt">Acquérir des automatismes</span>;</li>
  <li><span class="pink-purple-txt">Monter en intensité</span>;</li>
</ul>

<h4>1.2 Théorie des 10 000 heures</h4>

<h4>1.3 Progression par la répétition : les kata de code</h4>

<h4>1.4 Organiser sa veille</h4>

<ul>
  <li><span class="pink-purple-txt">Réseaux sociaux</span></li>
  <li><span class="pink-purple-txt">Meetups</span></li>
  <li><span class="pink-purple-txt">Blog, live coding, talk et conférences</span></li>
  <li><span class="pink-purple-txt">Podcast</span></li>
  <li><span class="pink-purple-txt">Livre</span></li>
</ul>

<h4>1.5 Transmission</h4>

<h3>2. Professionnalisme</h3>

<h4>2.1 Pragmatisme</h4>
