<h2 class="angular-gradient-text">Introduction</h2>

<p>Angular est un <span class="angular-red">framework</span> JavaScript qui permet de développer des <span class="angular-red">SPA</span> (Single Page Application).</p>
<div class="definition">
  <span class="underline"><i class="fa-solid fa-circle-info angular-gradient-text"></i> Définitions :</span>
  <p><span class="angular-red">SPA :</span> application qui tournent dans <span class="angular-red" >une seule page HTML</span> grâce au Javascript.</p>
  <p><span class="angular-red">Framework :</span> ensemble d'outils et de composants à partir desquels on peut développer des applications.</p>
</div>

<p>Angular passe par <span class="angular-red">3 langages</span> principaux :</p>
<ul>
  <li>HTML</li>
  <li>SCSS</li>
  <li>TypeScript : permet un typage strict</li>
</ul>

<p>Les avantages d'Angular :</p>
<ul>
  <li><span class="angular-red">Framework</span>  complet (pas besoin de librairie supplémentaire</li>
  <li>Permet de mettre en place les <span class="angular-red">bonnes pratiques</span></li>
  <li>Conçu pour fonctionner avec <span class="angular-red">TypeScript</span></li>
</ul>

<h3 class="angular-gradient-text">Les dépendances</h3>
<ul>
  <li><a href="https://nodejs.org/fr">Node</a> </li>
  <li>Npm</li>
</ul>

<div class="definition">
  <span class="underline"><i class="fa-solid fa-circle-info angular-gradient-text"></i> Définitions :  </span>
  <p> <span class="angular-red">LTS</span> (Long Term Support) : une version stable spécifique qui bénéficiera de support pendant plus longtemps qu'une version standard.</p>
</div>

<h3 class="angular-gradient-text">Installer le CLI</h3>

<div class="definition">
 <p><i class="fa-solid fa-circle-info angular-gradient-text"></i> <span class="angular-red"> CLI : </span>Command Line Interface</p>
  <p>⚠️ Sous MAC : possible erreur de gestion de droits. <a href="https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally">DOC</a></p>
</div>

<div >



<pre>
 <span class="label">Bash</span>
  <code class="langage-bash">
    // install le CLI de manière générale
    npm i -g @angular/cli

    // version
    ng v

    => ng correspond au CLI d'Angular
  </code>
</pre>


<h3 class="angular-gradient-text">Nouvelle application</h3>
<pre>
  <span class="label">Bash</span>
  <code class="langage-bash">
    // install le projet dans le dossier dans lequel on se trouve
    ng new mon-projet --directory ./

    // install le projet et crée un nouveau dossier avec le nom du projet
    ng new mon-projet  --style=scss --skip-tests=true

    'flag' : --style

    // lancer le serveur de développement
    ng serve --o

    // l'application s'ouvre à l'adresse :
    localhost:4200

    '--o' permet d'ouvrir l'application dans le navigateur
  </code>
</pre>

<div class="text-center" >
  <i class="fa-solid fa-circle-arrow-left angular-gradient-text fs-1_5 mx-1"></i>
  <i class="fa-solid fa-circle-arrow-right angular-gradient-text fs-1_5 mx-1"></i>
</div>





