@import "colors";

:host {
  background-color: rgba($dark, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1em;
  color:$light;
}



a:hover {
  background: -webkit-linear-gradient(90deg, $pink 0%, $purple 100% ) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
