<h2>Introduction</h2>

<p>Angular est un <span class="pink-purple-txt">framework</span> JavaScript qui permet de développer des <span class="pink-purple-txt">SPA</span> (Single Page Application).</p>

<app-callout-section title="Définitions">
  <p><span class="pink-purple-txt">SPA :</span> application qui tournent dans <span class="pink-purple-txt" >une seule page HTML</span> grâce au Javascript.</p>
  <p><span class="pink-purple-txt">Framework :</span> ensemble d'outils et de composants à partir desquels on peut développer des applications.</p>
</app-callout-section>

<p>Angular passe par <span class="pink-purple-txt">3 langages</span> principaux :</p>
<ul>
  <li>HTML</li>
  <li>SCSS</li>
  <li>TypeScript : permet un typage strict</li>
</ul>

<p>Les avantages d'Angular :</p>
<ul>
  <li><span class="pink-purple-txt">Framework</span>  complet (pas besoin de librairie supplémentaire</li>
  <li>Permet de mettre en place les <span class="pink-purple-txt">bonnes pratiques</span></li>
  <li>Conçu pour fonctionner avec <span class="pink-purple-txt">TypeScript</span></li>
</ul>

<h3>Les dépendances</h3>
<ul>
  <li><a href="https://nodejs.org/fr">Node</a> </li>
  <li>Npm</li>
</ul>

<app-callout-section title="Définitions">
  <p> <span class="pink-purple-txt">LTS</span> (Long Term Support) : une version stable spécifique qui bénéficiera de support pendant plus longtemps qu'une version standard.</p>
</app-callout-section>

<h3>Installer le CLI</h3>



<app-callout-section title="CLI : Command Line Interface">
  <p>⚠️ Sous MAC : possible erreur de gestion de droits. <a href="https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally">DOC</a></p>
</app-callout-section>

<pre>
 <span class="label">Bash</span>
  <code class="langage-bash">
    // install le CLI de manière générale
    npm i -g &#64;angular/cli

    // version
    ng v

    => ng correspond au CLI d'Angular
  </code>
</pre>


<h3>Nouvelle application</h3>
<pre>
  <span class="label">Bash</span>
  <code class="langage-bash">
    // install le projet dans le dossier dans lequel on se trouve
    ng new mon-projet --directory ./

    // install le projet et crée un nouveau dossier avec le nom du projet
    ng new mon-projet  --style=scss --skip-tests=true

    'flag' : --style

    // lancer le serveur de développement
    ng serve --o

    // l'application s'ouvre à l'adresse :
    localhost:4200

    '--o' permet d'ouvrir l'application dans le navigateur
  </code>
</pre>

<h3>Problème de route pour les images</h3>

<p>L'architecture d'Angular à été modifié dans les versions plus récentes (V17)</p>

<p>Soit il faut mettre les images dans le dossier "public", comme indiqué dans le fichier angular.json</p>
<p>Soit modifier ce fichier</p>

<pre>
  <span class="label">json</span>
  <code class="langage-json">
    // angular.json
    "assets": [
      &#123;
      "glob": "**/*",
      "input": "src/assets",
      "output": "/assets/"
      // cette ligne est pour la pwa
      "src/manifest.webmanifest"
       &#125;
     ],
  </code>
</pre>
