<h2 class="angular-gradient">Introduction</h2>

<p>Angular est un <span class="angular-red">framework</span> JavaScript qui permet de développer des <span class="angular-red">SPA</span> (Single Page Application).</p>
<div class="definition">
  <span class="underline"><i class="fa-solid fa-circle-info angular-gradient"></i> Définitions :</span>
  <p><span class="angular-red">SPA :</span> application qui tournent dans <span class="angular-red" >une seule page HTML</span> grâce au Javascript.</p>
  <p><span class="angular-red">Framework :</span> ensemble d'outils et de composants à partir desquels on peut développer des applications.</p>
</div>

<p>Angular passe par <span class="angular-red">3 langages</span> principaux :</p>
<ul>
  <li>HTML</li>
  <li>SCSS</li>
  <li>TypeScript : permet un typage strict</li>
</ul>

<p>Les avantages d'Angular :</p>
<ul>
  <li><span class="angular-red">Framework</span>  complet (pas besoin de librairie supplémentaire</li>
  <li>Permet de mettre en place les <span class="angular-red">bonnes pratiques</span></li>
  <li>Conçu pour fonctionner avec <span class="angular-red">TypeScript</span></li>
</ul>

<h3 class="angular-gradient">Les dépendances</h3>
<ul>
  <li><a href="https://nodejs.org/fr">Node</a> </li>
  <li>Npm</li>
</ul>

<div class="definition">
  <span class="underline"><i class="fa-solid fa-circle-info angular-gradient"></i> Définitions :  </span>
  <p> <span class="angular-red">LTS</span> (Long Term Support) : une version stable spécifique qui bénéficiera de support pendant plus longtemps qu'une version standard.</p>
</div>

<h3 class="angular-gradient">Installer le CLI</h3>

<div class="definition">
 <p><i class="fa-solid fa-circle-info angular-gradient"></i> <span class="angular-red"> CLI : </span>Command Line Interface</p>
  <p>⚠️ Sous MAC : possible erreur de gestion de droits. <a href="https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally">DOC</a></p>
</div>
<div class="code-bloc">
  <p> <span class="comment-code">// install le CLI de manière générale</span><br>
    npm i -g @angular/cli
  </p>
  <p> <span class="comment-code">// version</span><br></p>
  <p>ng v</p>
  <p class="angular-gradient">=> ng correspond au CLI d'Angular</p>
</div>

<h3 class="angular-gradient">Nouvelle application</h3>

<div class="code-bloc">
  <p><span class="comment-code">// install le projet dans le <i class="fa-solid fa-folder-open angular-gradient"></i> dossier dans lequel on se trouve</span><br>ng new mon-projet --directory ./</p>
  <p><span class="comment-code">// install le projet et crée un nouveau <i class="fa-solid fa-folder-open angular-gradient"></i> dossier avec le nom du projet</span> <br>ng new mon-projet  --style=scss --skip-tests=true</p>
  <p class="angular-gradient"><i class="fa-solid fa-flag"></i> flag : --style</p>
  <p><span class="comment-code">// lancer le serveur de développement</span><br>
    ng serve --o
  </p>
  <p><span class="comment-code">// l'application s'ouvre à l'adresse : </span><br>
    localhost:4200
  </p>
  <p><span class="angular-gradient"><i class="fa-solid fa-flag"></i> --o</span> permet d'ouvrir l'application dans le navigateur </p>
 <!-- <p> app-root = app-component</p>-->
</div>




