<div>
  <h1 class="angular-gradient-text">Mise en pratique : clone instagramme</h1>
  <ol>
    <li><a>Mettre en place le projet</a></li>
    <li><a>Créer un component "post"</a></li>
    <li><a>Afficher des données fictives venant du TS</a></li>
    <li><a>Créer un bouton like et le lier à une méthode TS (au click = + 1 like, nouveau click = - 1 like)</a></li>
    <li>Créer une class dans un dossier "model" qui contient le constructeur d'un post</li>
    <li>Ajouter des propriétés personnalisées au component</li>
  </ol>
</div>

