<div>
  <h2 class="pink-purple-txt">Mise en pratique : clone instagramme</h2>
  <h3 class="pink-purple-txt">Module 1</h3>
  <h4 class="pink-purple-txt">Partie 1</h4>
  <ol>
    <li><a>Mettre en place le projet</a></li>
    <li><a>Créer un component "post"</a></li>
    <li><a>Afficher des données fictives venant du TS</a></li>
    <li><a>Créer un bouton like et le lier à une méthode TS (au click = + 1 like, nouveau click = - 1 like)</a></li>
    <li>Créer une class dans un dossier "model" qui contient le model de donnée d'un post</li>
    <li>Ajouter des propriétés personnalisées au component</li>
    <li>Ajouter une pripriété optionnelle et choisir de l'afficher ou non dans le DOM (propriété location)</li>
    <li>Créer un tableau de post et l'afficher.</li>
    <li>Ajouter du style aux boutons like et marque page</li>
    <li>Formater la date</li>
  </ol>
  <h4 class="pink-purple-txt">Partie 2</h4>
  <ol>
    <li>Restructurer l'application et mettre en place un service pour les posts</li>
    <li>Mettre en place une méthode qui permet d'afficher tous les posts</li>
    <li>Mettre en place une méthode qui permet d'ajouter un like sur un post via son id</li>
    <li>Mettre en place une méthode qui permet de supprimer un like sur un post via son id</li>
    <li>Ajouter un module routing</li>
    <li>Ajouter un menu (home, compte utilisateur) avec son routing</li>
  </ol>
  <h3 class="pink-purple-txt">Module 2</h3>
</div>

<div class="definition">
  <h2>Reférences : </h2>
  <p>https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#literal-types</p>
</div>

