
<!--
Dater les articles
Mise ne ligne angular sur github page
<p>https://www.youtube.com/watch?v=F3HbnbT1Maw&ab_channel=BabatundeLamidi</p>-->

<div class="mx-1">
  <h2>Github pages</h2>

  <h3>Déployer Angular</h3>
  <pre>
    <span class="label">Bash</span>
    <code class="language-bash">
      // mon-projet : nom du repository
      ng build --output-path docs --base-href /mon-projet/
    </code>
  </pre>

  <h3>Sur github</h3>
  <p>Se rendre sur : </p>
  <ul>
    <li>Settings</li>
    <li>Pages</li>
  </ul>
  <p>Selectionner : </p>
  <ul>
    <li>Branch</li>
    <li>main</li>
    <li>/docs</li>
    <li>save</li>
  </ul>
  <img src="./assets/images/github/github-page.png" alt="github-pages" style="width: 700px">
  <p>Se rendre sur : github pages</p>
</div>

