<h2>Les pipes</h2>

<p>Les pipes sont des fonctions qui utilisent une expression qui accepte une valeur en entrée et retourne une valeur transformée. </p>

<ul>
  <li>AsyncPipe</li><br>

  <li>DatePipe</li><br>

  <li>UpperCasePipe</li>
  <li>LowerCasePipe</li>
  <li>TitleCasePipe</li><br>

  <li>CurrencyPipe</li>
  <li>DecimalPipe</li>
  <li>PercentPipe</li>
</ul>

<h3>Format date en Français</h3>

<pre>
  <label class="file-name">📄 app.module.ts</label>
  <code class="language-typescript">
    import &#123;LOCALE_ID, NgModule&#125; from '&#64;angular/core';

    import &#123; registerLocaleData &#125; from '&#64;angular/common';
    import * as fr from '&#64;angular/common/locales/fr';

    providers: &#91;&#123;provide: LOCALE_ID, useValue: 'fr-FR' &#125;],

    export class AppModule &#123;
      constructor() &#123;
        registerLocaleData(fr.default);
      &#125;
    &#125;
  </code>
</pre>

<h3>Les nombres</h3>

<pre>
  <label class="label">HTML</label>
  <code class="language-html">
    &#60;p><span>{{</span> 4346234.36 | number &#125;&#125;&#60;/p>  &#60;!--4346234,36-->

    &#60;!--entier le plus proche-->
    &#60;p><span>{{</span> 4346234.36 | number: '1.0-0' &#125;&#125;&#60;/p>

    &#60;!--un chiffre après la ,-->
    &#60;p><span>{{</span> 4346234.36 | number: '1.0-1' &#125;&#125;&#60;/p>

    &#60;p><span>{{</span> 0.336 | percent &#125;&#125;&#60;/p>  &#60;!-- 34% -->

    &#60;p><span>{{</span> 0.336 | percent: '1.0-1' &#125;&#125;&#60;/p>  &#60;!-- 33,6% -->

    &#60;p><span>{{</span> 344.36 | currency &#125;&#125;&#60;/p>  &#60;!-- 344,36 $US -->

    &#60;p><span>{{</span> 344.36 | currency: 'EUR' &#125;&#125;&#60;/p>  &#60;!-- 344,36 € -->

    &#60;p><span>{{</span> 344.36 | currency: 'EUR' : 'code' &#125;&#125;&#60;/p>  &#60;!-- 344,36 EUR -->
  </code>
</pre>
