<h2 class="blue">Chapitre 1 : Le rôle de l'algorithmiques dans l'informatique</h2>

<p>Une instance d'un problème est l'entrée nécessaire (satisfaisant toutes les contraintes imposées dans l'énoncé du problème) pour calculer une solution au problème.</p>
<p>Parce que beaucoup de programme utilisent des étapes intermédiaires, le <span class="blue">tri</span> est une opération fondamentale en informatique.</p>
<p>Donc il y a un grand nombre d'algorithmes de tri.</p>
<p>Le meilleur ? Cela dépend de beaucoup de facteurs : </p>
<ul>
  <li>Le nombre d'items à trier ;</li>
  <li>La mesure dans laquelle les éléments dont déjà un peu trié ;</li>
  <li>Les éventuelles restrictions sur les valeurs des éléments ;</li>
  <li>L'architecture de l'ordinateur et le périphérique de stockage.</li>
</ul>

<h3 class="blue">Quelle sorte de problèmes sont résolus par des algorithms ?</h3>
<p>... page 28 ...</p>




<footer>
  <div class="definition">
    <p> <span>Référence :</span></p>
    <ul>
      <li><span class="blue">Introduction to Algorithms</span> - 4th édition -  Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, Clifford Stein </li>
    </ul>
  </div>
</footer>


