<h2>Templates</h2>

<p>En Angular, il y a 2 façons principales d'exploiter une donnée venant du TypeScript dans le Template.</p>
<ul>
  <li class="pink-purple-txt">String interpolation</li>
  <li class="pink-purple-txt">Attribute binding</li>
</ul>

<p>Pour initialiser les propriétés en suivant les "best practices Angular", on utilise la méthode <span class="pink-purple-txt">ngOnInit()</span>.</p>
<p>Pour l'utiliser, il faut implémenter l'<span class="pink-purple-txt">interface OnInit</span></p>

<pre>
  <span class="label">TypeScript</span>
  <code class="language-typescript">
    import &#123; Component, OnInit&#125; from '&#64;angular/core';

    &#64;Component(&#123;
        selector: 'app-post',
        templateUrl: './post.component.html',
        styleUrls: ['./post.component.scss']
    &#125;)
    export class PostComponent implements OnInit &#123;

      // Propriétés
      // On crée un attribut de class en associant le nom de l'attribut à son type
      // ! => bang : non-null assertion operator = signify que l'opérande est non nul et non indéfini
      // L'opération x! produit une valeur du type de x avec null et undefined exclus
      public title!: string;
      public description!:string;
      public createdDate!: Date;
      public like!: number;

      ngOnInit() &#123;
        this.title = 'Chippie';
        this.description = 'encore en train de dormir ...';
        this.createdDate = new Date();
        this.like = 6;
      &#125;
    &#125;
    </code>
</pre>

<div class="definition">
  <i class="fa-solid fa-circle-info pink-purple-txt"></i>
  <p>La méthode <span class="pink-purple-txt">ngOnInit()</span> est appelée automatiquement par Angular au moment de la <span class="pink-purple-txt">création de chaque instance</span> du composant.</p>
  <p>Elle permet d'initialiser des propriétés</p>
</div>

<h3>Afficher des valeurs avec l'interpolation</h3>
<pre>
  <span class="label">HTML</span>
  <code class="language-html">
    <span>{{</span> title &#125;&#125;
    <span><</span>img src ="<span>{{</span> imageUrl &#125;&#125;" alt="<span>{{</span> title &#125;&#125;">
  </code>
</pre>

<h3>Afficher des valeurs avec la liaison par attribut (attribut binding)</h3>
<p>Préférable si la propriété n'est pas un string (number)</p>

<pre>
  <span class="label">HTML</span>
  <code class="language-html">
    <span><</span>img [src]="imageUrl" [alt]="title">
  </code>
</pre>

<h3>Réagir aux évènement (Template statements)</h3>

<p>Ce sont des méthodes ou propriétés que l'on utilise dans le HTML pour répondre à un évènement.</p>
<pre>
  <span class="label">HTML</span>
  <code class="language-html">
    (event)="statement()"
    <span><</span>button (click)="onLike()">like<span><</span>/button>
  </code>
</pre>

<pre>
  <span class="label">TS</span>
  <code class="language-typescript">
    onLike() <span>&lbrace;</span>
      if(this.liked === false) <span>&lbrace;</span>
        this.like++
        this.liked = true
      &#125; else <span>&lbrace;</span>
        this.like--
        this.liked = false
      &#125;
    &#125;
  </code>
</pre>
<p>Le nom de la méthode qui commence par <span class="pink-purple-txt">on</span> signale qu'elle répond à un <span class="pink-purple-txt">évènement</span></p>

<p>Quand l'utilisateur click sur le bouton, Angular appelle la méthode <span class="pink-purple-txt">onLike()</span> dans la class du composant.</p>

<div class="definition">
  <p>La réponse aux évènements est un aspect du flux de données unidirectionnel d'Angular.</p>
</div>

<h3>Envoyer des données à un component enfant</h3>

<p>Angular permet d'ajouter des <span class="pink-purple-txt">propriétés personnalisées</span> aux components de manière à pouvoir les injecter <span class="pink-purple-txt">depuis le component parent</span>.</p>

<p>Créer un type personnalisé sous forme de classe : </p>

<pre>
  <label class="label">TS</label>
  <code class="language-typescript">
    // Créer un dossier models, et un fichier "mon-type.model.ts"
    export class PostModel &#123;
      constructor(
        public title:string,
        public profilPicture:string,
        public author:string,
        public description:string,
        public createdDate:Date,
        public img:string,
        public like:number
      ) &#123;&#125;
&#125;
  </code>
</pre>
<p>Le <span class="pink-purple-txt">décorateur &#64;Input()</span> dans un component ou une directive enfant signifie que la propriété peut recevoir sa valeur depuis son component parent.</p>
<p>Pour utiliser <span class="pink-purple-txt">&#64;Input()</span>, il faut configurer le parent et l'enfant.</p>
<h4>Configurer le component enfant : </h4>
<pre>
  <label class="file-name">📄 enfant.component.ts</label>
  <code class="language-typescript">
    // Importer Input
    import &#123;Component, Input, OnInit&#125; from '&#64;angular/core';
    import &#123;PostModel&#125; from "../../models/post.model";

    export class PostComponent implements OnInit &#123;
      // Ajouter &#64;Input à la propriété
      &#64;Input() post!: PostModel;
    &#125;
  </code>
</pre>
<h4>Configurer le component parent : </h4>
<pre>
  <label class="file-name">📄 parent.component.html</label>
  <code class="language-html">
    // Utiliser le sélecteur enfant et la propriété de binding
    &lt;app-post [post] = "post1">&lt;/app-post>
  </code>
</pre>
<pre>
  <label class="file-name">📄 app.component.ts</label>
  <code class="language-typescript">
    public post1!:PostModel

    // Dans le component parent, assigner une valeur au component parent.
    this.post1 = new PostModel(
    'mon titre',
    new Date(),
    6,
  )
  </code>
</pre>
