<h2 class="angular-gradient-text">Templates</h2>

<p>En Angular, il y a 2 façons principales d'exploiter une donnée venant du TypeScript dans le Template.</p>
<ul>
  <li class="angular-gradient-text">String interpolation</li>
  <li class="angular-gradient-text">Attribute binding</li>
</ul>

<p>Pour initialiser les propriétés en suivant les "best practices Angular", on utilise la méthode <span class="angular-gradient-text">ngOnInit()</span>.</p>
<p>Pour l'utiliser, il faut implémenter l'<span class="angular-gradient-text">interface OnInit</span></p>

  <pre>
    <code class="language-typescript">
      import <span>&lbrace;</span> Component, OnInit} from '@angular/core';

      @Component(<span>&lbrace;</span>
        selector: 'app-post',
        templateUrl: './post.component.html',
        styleUrls: ['./post.component.scss']
      })
      export class PostComponent implements OnInit <span>&lbrace;</span>

        //Propriétés
        // on crée un attribut de class en associant le nom de l'attribut à son type
        // ! => bang : non-null assertion operator = signify que l'opérande est non nul et non indéfini
        //l'opération x! produit une valeur du type de x avec null et undefined exclus
        public title!: string;
        public description!:string;
        public createdDate!: Date;
        public like!: number;

        ngOnInit() <span>&lbrace;</span>
          this.title = 'Chippie';
          this.description = 'encore en train de dormir ...';
          this.createdDate = new Date();
          this.like = 6;
        }
      }
    </code>
  </pre>

<div class="definition">
  <i class="fa-solid fa-circle-info angular-gradient-text"></i>
  <p>La méthode <span class="angular-gradient-text">ngOnInit()</span> est appelée automatiquement par Angular au moment de la <span class="angular-gradient-text">création de chaque instance</span> du composant.</p>
  <p>Elle permet d'initialiser des propriétés</p>
</div>

<h3 class="angular-gradient-text">Afficher des valeurs avec l'interpolation</h3>
<pre>
  <code class="language-html">
    <span>{{</span> title }}
    <span><</span>img src ="<span>{{</span> imageUrl }}" alt="<span>{{</span> title }}">
  </code>
</pre>

<h3 class="angular-gradient-text">Afficher des valeurs avec la liaison par attribut (attribut binding)</h3>
<p>Préférable si la propriété n'est pas un string (number)</p>

<pre>
  <code class="">
    <span><</span>img [src]="imageUrl" [alt]="title">
  </code>
</pre>

<h3 class="angular-gradient-text">Réagir aux évènement (Template statements)</h3>

<p>Ajouter une <span class="angular-gradient-text">méthode</span> :</p>


<div class="definition mt-1">
  <i class="fa-solid fa-circle-info angular-gradient-text"></i>
  <p>Le nom de la méthode qui commence par <span class="angular-gradient-text">on</span> signale qu'elle répond à un <span class="angular-gradient-text">évènement</span></p>
</div>
