<h2>Anatomie d'un component</h2>
<h3 class="mb-0">Mise à jour du style</h3>
<pre>
 <span class="label">CSS</span>
  <code class="langage-css">
    :host &#123;
      color: bleu;
     &#125;
  </code>
</pre>

<h3 class="mb-0">Interpolation</h3>

<pre>
 <span class="label">HTML</span>
  <code class="langage-html">
    &#123;<span>&#123;</span>  &#125;&#125;
  </code>
</pre>
<ul>
  <li>Permet d'afficher du texte dynamique</li>
  <li>Appel de fonction</li>
  <li>Écrire des expression : &#123;<span>&#123;</span> 1 + 1 &#125;&#125; </li>
</ul>

<h3 class="mb-0">Selector</h3>
<pre>
 <span class="label">HTML</span>
  <code class="langage-html">
    < app-user />
  </code>
</pre>

<h3 class="mb-0">Utilisation des components</h3>
<pre>
 <span class="label">CSS</span>
  <code class="langage-css">
    &#64;Component(&#123;
      selector: 'app-user',
      template: `userName`,
      imports: [UserComponent]
      &#125;)

    // on appel le component dans le template et on l'importe dans le Ts

    &#64;Component(&#123;
      selector: 'app-root',
      template: `< app-user / >`,
      imports: [UserComponent]
      &#125;)
  </code>
</pre>

<h2 class="mb-0">&#64;if</h2>

<div class="d-flex code-side-by-side">
  <pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &#64;if (isLoggedIn) &#123;
        <p>Welcome back, Friend!</p>
      &#125;
    </code>
  </pre>

  <pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      class AppComponent &#123;
        isLoggedIn = true;
      &#125;
    </code>
  </pre>
</div>

<h2 class="mb-0">&#64;for</h2>

<div class="d-flex code-side-by-side">
  <pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &#64;for (os of operatingSystems; track os.id) &#123;
      &#123;<span>&#123;</span> os.name &#125;&#125;
      &#125;
    </code>
  </pre>

  <pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      export class AppComponent &#123;
      operatingSystems = [
        &#123;id: 'win', name: 'Windows'&#125;,
        &#123;id: 'osx', name: 'MacOS'&#125;,
        &#123;id: 'linux', name: 'Linux'&#125;
        ];
      &#125;
    </code>
  </pre>
</div>

<h2 class="mb-0">Property binding []</h2>

<p>Permet de set la valeur des propriétés et des attributs</p>

<pre>
    <span class="label">HTML</span>
    <code class="langage-html">
       	&lt;img alt="photo" &lbrack;src&rbrack;="imageURL"&gt;
    </code>
</pre>

<h2 class="mb-0">Event binding ()</h2>

<div class="d-flex code-side-by-side">
  <pre>
      <span class="label">HTML</span>
      <code class="langage-html">
          &lt;button (click)="greet()"&gt;
      </code>
  </pre>

  <pre>
      <span class="label">TS</span>
      <code class="langage-typescript">
          greet()&lbrace;
            console.log("Hello")
        &rbrace;
      </code>
  </pre>
</div>

<h2 class="mb-0">Communication entre composants</h2>

<h3 class="mb-0">&#64;Input</h3>

<p>Component Parent :</p>
<pre>
  <span class="label">HTML</span>
  <code class="langage-html">
    &lt;app-user occupation ="Angular"&gt; &lt;/app-user&gt;
  </code>
</pre>

<p>Component Enfant :</p>
<div class="d-flex code-side-by-side">
  <pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &lt;p&gt;Langage is : &#123;<span>&#123;</span> occupation &#125;&#125; &lt;/p&gt;


    </code>
  </pre>

  <pre>
    <span class="label">TS</span>
    <code class="langage-typescript">
      &#64;Input() occupation = '';
    </code>
  </pre>
</div>

<h3 class="mb-0">&#64;Output</h3>

<p>Component Enfant :</p>
<div class="d-flex code-side-by-side">
  <pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &lt;button class="btn" (click)="addItem()"&gt;Add Item&lt;/button&gt;
    </code>
  </pre>

  <pre>
    <span class="label">TS</span>
    <code class="langage-typescript">
      &#64;Output() addItemEvent = new EventEmitter&lt;number&gt;();
      count:number = 0

      addItem() &lbrace;
      this.count++
      this.addItemEvent.emit(this.count);
      &rbrace;
    </code>
  </pre>
</div>
<p>Component Parent :</p>
<div class="d-flex code-side-by-side">
  <pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &lt;button class="btn" (click)="addItem()"&gt;Add Item&lt;/button&gt;

      &lt;app-child (addItemEvent)="addItem($event)" /&gt;
      &lt;p&gt;🐢 all the way down &#123;<span>&#123;</span>items&#125;&#125;&lt;/p&gt;
    </code>
  </pre>

  <pre>
    <span class="label">TS</span>
    <code class="langage-typescript">
      items = 0;

      addItem(item: number) &lbrace;
          this.items = item;
      &rbrace;
    </code>
  </pre>
</div>

<h2 class="mb-0">Affichage différée &#64;defer</h2>

<pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &lt;div&gt;
        &lt;h1&gt;How I feel about Angular&lt;/h1&gt;
        &lt;article&gt;
          &lt;p&gt;I can't express enough how much I enjoy working with Angular.
          &lt;/p&gt;
        &lt;/article&gt;

          &#64;defer &#123;
            &lt;comments /&gt;
          &#125;
          &#64;placeholder &#123;
            &lt;p&gt;Future comments&lt;/p&gt;
          &#125;
          &#64;loading (minimum 2s) &#123;
            &lt;p&gt;Loading comments...&lt;/p&gt;
          &#125;
      &lt;/div&gt;
    </code>
</pre>

<h2 class="mb-0">Optimiser les images</h2>

<p>Elles peuvent être une contribution majeur aux problèmes de performances d'un site.</p>
<p>Site de référence : <a href="https://web.dev/explore/learn-core-web-vitals?hl=fr">Core Web Vitals</a></p>
<p>On utilise la directive : NgOptimizedImage pour être sur que les images sont chargées efficacement.</p>

<pre>
    <span class="label">TS</span>
    <code class="langage-typescript">
      import &#123; NgOptimizedImage &#125; from '&#64;angular/common';

      &#64;Component(&#123;
        imports: [NgOptimizedImage],
        ...
        &#125;)
    </code>
</pre>

<pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &lt;img ngSrc="/assets/logo.svg" alt="Angular logo" width="32" height="32" /&gt;
      &lt;img [ngSrc]="/assets/logo.svg" alt="Angular logo" fill /&gt;
    </code>
</pre>

<p><a href="https://web.dev/articles/cls?hl=fr">Cumulative Layout Shift</a> : nécessite d'ajouter la largeur et la hauteur des images.</p>

<div class="definition">
  <span class="underline"><i class="fa-solid fa-circle-info pink-purple-txt"></i> Note :  </span>

  <p>Dans les situations où on ne veut pas spécifier de taille fixe, on peut utiliser l'attribut <span class="pink-purple-txt">fill</span>. Pour une image background par exemple.</p>
  <p>Pour la propriété <span class="pink-purple-txt">fill</span>, le parent doit avoir un style de position : <span class="pink-purple-txt">relative, fixed, absolute</span></p>
</div>

<h3 class="mb-0">Prioriser les images importantes</h3>

<p>Une des plus importantes optimisations pour la performance de chargement est de donner la priorité aux images susceptible d'être l'<a
  href="https://web.dev/articles/optimize-lcp?hl=fr">élément LCP</a>, c'est à dire le plus grand à l'écran lors du chargement de la page</p>

<pre>
    <span class="label">HTML</span>
    <code class="langage-html">
      &lt;img ngSrc="/assets/logo.svg" alt="Angular logo" width="32" height="32" priority /&gt;
    </code>
</pre>

<h3 class="mb-0">Utiliser un loader d'image</h3>

<pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      providers: [  provideImgixLoader('https://my.base.url/'),]
    </code>
</pre>

<h2 class="mb-0">Routing</h2>

<h3 class="mb-0">Activer le routing</h3>

<p>Créer un fichier app.routes.ts.</p>
<pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      import &#123; Routes&#125;  from '&#64;angular/router';

      export const routes: Routes = [];
    </code>
</pre>

<p>Ajouter le routing au provider dans app.config.ts.</p>

<pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      import &#123; ApplicationConfig &#125; from '&#64;angular/core';
      import &#123; provideRouter &#125; from '&#64;angular/router';
      import &#123; routes &#125; from './app.routes';

      export const appConfig: ApplicationConfig = &#123;
        providers: [provideRouter(routes)],
      &#125;;
    </code>
</pre>

<p>Importer RouterOutlet dans le component</p>

<pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      import &#123;  RouterOutlet &#125; from '&#64;angular/router';

      &#64;component(&#123;
        ...
        template: `
        &lt;nav&gt;
          &lt;a href="/"&gt;Home&lt;/a&gt;
          |
          &lt;a href="/user"&gt;User&lt;/a&gt;
        &lt;/nav&gt;
        &lt;router-outlet /&gt;
        `,

        imports: [RouterOutlet],
        &#125; )

      export class AppComponent &#123; &#125;
    </code>
</pre>

<h3 class="mb-0">Définir une route</h3>

<p>Dans app.routes.ts</p>

<pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      import &#123; Routes &#125; from '&#64;angular/router';
      import &#123; HomeComponent &#125; from './home/home.component';

      export const routes: Routes = [
        &#123;
          path: '',
          title: 'App Home Page',
          component: HomeComponent,
        &#125;,
      ];
    </code>
</pre>

<h3 class="mb-0">Utiliser RouterLink pour la navigation</h3>

<p>Importer RouterLink et l'ajouter au template.</p>

<pre>
    <span class="label">TS</span>
    <code class="langage-ts">
      import &#123; Routes &#125; from '&#64;angular/router';
      import &#123; HomeComponent &#125; from './home/home.component';

      export const routes: Routes = [
        &#123;
          path: '',
          title: 'App Home Page',
          component: HomeComponent,
        &#125;,
      ];

      import &#123; RouterLink, RouterOutlet &#125; from '&#64;angular/router';

      &#64;Component(&#123;
        ...
        template: `
        ...
        &lt;a routerLink="/"&gt;Home&lt;/a&gt;
        &lt;a routerLink="/user">User&lt;/a&gt;
        ...
        `,
        imports: [RouterLink, RouterOutlet],
        &#125;)
    </code>
</pre>

