@import "src/styles/colors";

:host{
  width: 272px;
  height: calc(100vh - 96px) ;
  background-color: $light2;
  display: block;
  padding: 1em;
}

li {
  list-style: none;
  margin-bottom: .5em;
}

ul {
  padding: 0;
}
