@import "colors";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oswald:wght@300;400;700&family=Roboto:wght@300;400;700&family=Ubuntu+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

// global font
$noto: 'Noto Serif', serif;
.noto {
  font-family: 'Noto Serif', serif;
}

$inter:'Inter', serif;
.inter {
  font-family: 'Inter', serif;
}

// code font
.lato {
  font-family:'Lato', sans-serif;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.ubuntu {
  font-family: 'Ubuntu Mono', monospace;
}
.roboto-light {
  font-family: 'Roboto', sans-serif;
}

// Font size
.fs-1_5 {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

// position
.z-index-1{
  z-index: 1;
}

// General
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-image: url("assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $light;
  font-family: $inter;
}

router-outlet {
  display: none;
}

h1, h2, h3, h4 {
  font-family: $noto;
  background: -webkit-linear-gradient(90deg, $pink 0%, $purple 100% ) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

a{
  color: $light;
  font-weight: bold;
}
a:hover {
  background: -webkit-linear-gradient(90deg, $pink 0%, $purple 100% ) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blur {
  background-color: rgba($dark, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

// Elements
.techno-logo {
  height: 52px;
  width: 52px;
  margin: .5em;
}

.algo_icon {
  position: relative;
  border-radius: 50%;
  img {
    position: absolute;
    top:5px;
    left:5px;
    width: 80%;
  }
}

// Theme
app-angular,
app-github,
app-algorithms,
app-software-craft {
  height: calc(100vh - 96px - 100px);
  width: 100%;
  display: block;
  overflow-y: scroll;
}


// chapter
app-introduction,
app-tutorial,
app-component,
app-templates,
app-directives,
app-pipes,
app-services,
app-routing,
app-observables,
app-angular-exercices,
app-introduction-software-craft,
app-pair-programming,
app-tdd,
app-clean-code,
app-bdd,
app-refactoring,
app-english,
app-algorithms,
app-github-page,
{
  width: calc(100% - 130px);
  background-color: rgba($dark, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1em;
  color:$light;
  border-radius: 8px;
  display: block;
  margin: 0 4em;
}

.bot {
  width: 60px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  z-index: 1;
}

code {
  line-height: 1.5em;
  border-radius: 10px;
  white-space: pre-wrap;
}
pre {
  position: relative;
  margin: 0;
}

.label {
  position: absolute;
  color: $light2;
  right: 25px;
  top: 45px;
  font-size: 11px;
}
.file-name {
  position: absolute;
  color: $light2;
  left: 25px;
  top: 15px;
  font-size: 11px;
  z-index: 0;
}
.file-name:before {
  content: '';
  height:40px;
  width: 200px;
  background-color: #002451;
  border-radius: 10px 10px 0 0 ;
  position: absolute;
  top: -15px;
  left: -25px;
  z-index: -1;
}

.definition {
  background-color: $light2;
  padding: 1em;
  border-radius: 10px;
  color: $dark;
  a {
    color: $dark;
  }
}

// Flex
.d-flex {
  display: flex;
}

.flex-colonme {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// Padding
.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}
.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}

// Margin
.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.mt-1 {
  margin-top: 1em;
}
.mb-0{
  margin-bottom: 0;
}

.my-2 {
  margin: 2em 0 2em 0;
}

.p-sticky {
  position: sticky;
  top: 0;
}

.highlight {
  display: block;
  height: 100%;
  width: 2px;
  margin-right: .5em;
}

.code-side-by-side{
  pre{
    min-width: 400px;
    margin-right: 1em;
  }
}
