/* You can add global styles to this file, and also import other style files */
@import "./styles/colors";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oswald:wght@300;400;700&family=Roboto:wght@300;400;700&family=Ubuntu+Mono:ital@0;1&display=swap');

.lato {
  font-family:'Lato', sans-serif;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.ubuntu {
  font-family: 'Ubuntu Mono', monospace;
}
.roboto-light {
  font-family: 'Roboto', sans-serif;
}

// Font size
.fs-1_5 {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

// position
.z-index-1{
  z-index: 1;
}

// General
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/Designer.png");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $light;
  font-family: 'Lato', sans-serif;

}

router-outlet {
  display: none;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

span {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

a{
  color: $dark;
}
a {
  font-weight: bold;
}

// Theme
app-angular,
app-github,
app-algorithms{
  height: calc(100vh - 96px);
  width: 100%;
  display: block;
  overflow-y: scroll;
}

// Component
app-intoduction,
app-component,
app-angular-exercices,
app-templates,
app-directives,
app-pipes,
app-services,
app-routing,
app-observables,
//algo
app-chap1,
//github
/*app-github,*/
{
  display: block;
  margin: 0 4em;
}

// Elements
.techno-logo {
  height: 52px;
  width: 52px;
  margin: .5em;
}

.algo_icon {
  position: relative;
  border-radius: 50%;
  img {
    position: absolute;
    top:5px;
    left:5px;
    width: 80%;
  }
}

.bot {
  width: 60px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  z-index: 1;
}

code {
  line-height: 1.5em;
  border-radius: 10px;
  white-space: pre-wrap;
}
pre {
  position: relative;
  margin: 0;
}

.label {
  position: absolute;
  color: $light2;
  right: 25px;
  top: 45px;
  font-size: 11px;
}
.file-name {
  position: absolute;
  color: $light2;
  left: 25px;
  top: 15px;
  font-size: 11px;
  z-index: 0;
}
.file-name:before {
  content: '';
  height:40px;
  width: 200px;
  background-color: #002451;
  border-radius: 10px 10px 0 0 ;
  position: absolute;
  top: -15px;
  left: -25px;
  z-index: -1;
}

.definition {
  background-color: $light2;
  padding: 1em;
  border-radius: 10px;
}

// Flex
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

// Padding
.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}
.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}

// Margin
.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.mt-1 {
  margin-top: 1em;
}

.my-2 {
  margin: 2em 0 2em 0;
}

.p-sticky {
  position: sticky;
  top: 0;
}



