<div class="d-flex">
  <img class="techno-logo" src="./assets/github.png" alt="logo">
  <h1 class="text-center">Github</h1>
</div>

<!--
Dater les articles


Mise ne ligne angular sur github page
<p>https://www.youtube.com/watch?v=F3HbnbT1Maw&ab_channel=BabatundeLamidi</p>-->

<div class="mx-1">
  <img class="bot github-color" src="./assets/images/chatbot.png">
  <h2>Github pages</h2>

  <h3>Déployer Angular</h3>

  <pre class="code-bloc">
    <code>
      <span class="comment-code">// mon-projet = nom du repository</span>
      ng build --output-path docs --base-href /mon-projet/
    </code>
  </pre>

  <h3>Sur github</h3>

  <p>Se rendre sur : </p>
  <ul>
    <li>Settings</li>
    <li>Pages</li>
  </ul>

  <p>Selectionner : </p>
  <ul>
    <li>Branch</li>
    <li>main</li>
    <li>/docs</li>
    <li>save</li>
  </ul>

  <img src="./assets/images/github/github-page.png" alt="github-pages" style="width: 700px">

  <p>Se rendre sur : github pages</p>

</div>
