<h2>Kata incontournables</h2>

<ul>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/FizzBuzz/">Fizz Buzz</a></span> : il y a également des variantes. L'objectif est de nous orienter
  vers une approche plus déclarative basée sur la programmation fonctionnelle.</li>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/LeapYears/">Leap Years</a></span> : pour le TDD, mais attention à l'ordre des tests.</li>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/StringCalculator/">String Calculator</a></span> : TDD et refactoring. </li>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/RomanCalculator/">Roman Numerals</a></span> : Modéliser les correspondances de chiffre sous forme d'enum
  est une étape clé pour aborder ce kata.</li>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/Tennis/">Tennis</a></span> : Il existe 3
  version. Objectif refactoring. Très bon kata pour initier la code review. <a href="https://github.com/emilybache/Tennis-Refactoring-Kata">Repo</a></li>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/Bowling/">Bowling</a></span> : illustre le concept de design émergent</li>
  <li><span class="pink-purple-txt"><a href="https://codingdojo.org/kata/gilded-rose/">Gilded Rose</a></span> :
  la difficulté se situe dans la compréhension du code, il invite à créer un golden master. Bon kata pour apprendre les
  raccourcis clavier.</li>
  <li><span class="pink-purple-txt"><a href="https://github.com/sandromancuso/trip-service-kata">Tip Service</a></span> :
  refactoring. Difficile à tester. Apprendre à s'affranchir des dépendances, et est une bonne introduction au principe
  d'inversion de dépendances.</li>
</ul>

<p>Aller voir des résolutions de kata sur Youtube.</p>

<h2>Bibliothèque</h2>

<h3>Les classiques/fondamentaux</h3>

<p><a href="https://www.eyrolles.com/Informatique/Livre/design-patterns-9780201633610/">
  Design patterns: Elements of Reusable Object-Oriented Software - Erich Gamma, Richard Helm, Ralph Johnson, John Vlissides
</a> La bible des design patterns.</p>
<p><a href="https://www.fnac.com/SearchResult/ResultList.aspx?Search=Head+First+Design+Patterns%3A+Building+Extensible+and+Maintainable+Object-Oriented+Software&sft=1&sa=0">Head First Design Patterns</a>
les patterns les plus utiles et fréquents, en partant d'un problème de conception concret. Très pédagogique. </p>
<p>The Pragmatic Programmer: lecture aisée; attitude et posture du développeur; organisation, choix et
maîtrise des outils.</p>
<p>Extreme Programming Explained : une des première méthodes agiles.</p>

<h3>Les core craft</h3>
<p>Test-Driven Development by exemple : initie à l'approche TDD</p>
<p>Clean code : facile à lire, une bonne porte d'entrée au craft.</p>
<p>Refactoring: Improving the Design of Existing Code - Martin Fowler : la pratique du refactoring expliqué progressivement.</p>
<p>The Software Craftsmanship : attitude et valeur du développeur.</p>
<p>The clean coder : centré sur la production de code de qualité. Facile à lire.</p>

<h3>Les crafts avancé</h3>
<p><a href="https://www.eyrolles.com/Entreprise/Livre/working-effectively-with-legacy-code-9780131177055/">Working Effectively with Legacy Code</a> </p>
<p>xUnit Test Patterns Refactoring Test Code</p>
<p>Domain Driver Design : décrit les patterns stratégiques et tactiques en plaçant le métier au coeur des préoccupation.</p>
<p>Growing Object-Oriented Software : pour développeur confirmé. TDD liées à la collaboration entre les classes.</p>
<p>Living Documentation - Cyrille Martaire</p>
