<h2 class="pink-purple-txt">Component</h2>

<p>Les composants sont la base d'une application Angular.</p>
<p>Ce sont des balises HTML personnalisées</p>
<p>Une application peut-être vue comme une <span class="pink-purple-txt">arborescence de composants</span>, avec <span class="pink-purple-txt">AppComponent</span> comme composant racine.</p>
<p>Un composant est réutilisable.</p>

<h3 class="pink-purple-txt">Créer un composant</h3>
<pre>
  <span class="label">Bash</span>
  <code>
    ng generate component mon-composant

    ng g c mon-composant
  </code>
</pre>

<p>Un composant contient 3 ou 4 <i class="fa-solid fa-file pink-purple-txt"></i> fichiers : </p>
<ul>
  <li>HTML => Template</li>
  <li>TS</li>
  <li>CSS/SCSS/...</li>
  <li>spec : <i class="fa-solid fa-file pink-purple-txt"></i> fichier de test</li>
</ul>

<pre>
  <span class="label">TypeScript</span>
  <code class="language-typescript">
    import &#123; Component &#125; from '&#64;angular/core';

    &#64;Component(&#123;
      selector: 'app-component',
      templateUrl: './component.component.html',
      styleUrls: ['./component.component.scss']
    &#125;)

    export class AngularIntroductionComponent &#123;
      title = 'Mon post'
    &#125;

    // HTML
    &#123;<span>&#123;</span> title &#125;&#125;
  </code>
</pre>
<div class="definition">
  <i class="fa-solid fa-circle-info pink-purple-txt"></i>
  <p>La classe est déclarée avec un décorateur <span class="pink-purple-txt">&#64;Component</span></p>
  <p>Un <span class="pink-purple-txt">&#64;Décorateur</span> permet d'apporter des <span class="pink-purple-txt">modifications</span> à une classe.</p>
</div>

<div class="definition mt-1">
  <i class="fa-solid fa-circle-info pink-purple-txt"></i>
  <p><span class="pink-purple-txt">title = 'Mon post'</span> est un attribut de la class AppComponant.</p>
  <p>Lorsque l'on déclare un <span class="pink-purple-txt">attribut de classe</span> il n'est pas précédé de <span class="pink-purple-txt">let, const, ...</span></p>
</div>

<p>Pour être utilisé, un composant doit être déclaré dans <i class="fa-solid fa-file pink-purple-txt"></i> app.module.ts</p>
<p><span class="pink-purple-txt">app-module.ts</span> est le module principal de l'application.</p>


<pre>
  <span class="label">TypeScript</span>
  <code class="language-typescript">
    import &#123; NgModule &#125; from '&#64;angular/core';
    import &#123; BrowserModule &#125; from '&#64;angular/platform-browser';

    import &#123; AppComponent &#125; from './app.component';
    import &#123; PostComponent &#125; from './post/post.component';

    &#64;NgModule(&#123;
      declarations: [
        AppComponent,
        MonComponent,
      ],
      imports: [
        BrowserModule
      ],
      providers: [],
      bootstrap: [AppComponent]
    &#125;)
    export class AppModule &#123; &#125;
  </code>
</pre>


