<h2>Le Développement Dirigé par les Tests (TDD)</h2>

<div class="d-flex">
  <img src="assets/images/tdd.png">
  <div>
    <p><span class="pink-purple-txt">Green</span> : effectuer le minimum de code</p>
    <p><span class="pink-purple-txt">Refactor</span> : est ce qu'on arrive à comprendre à quel besoin le code répond ?</p>
  </div>
</div>

<app-callout-section title="Conseil">
    <ol>
        <li>Écrire le résultat attendu.</li>
        <li>Faire appel à la fonction.</li>
        <li>Initialiser les données nécessaires.</li>
    </ol>
</app-callout-section>

<h3>Pratique :<a href="https://github.com/SoftwareCraftersMadrid/FizzBuzz"> FizzBuzz</a></h3>
<p><span class="pink-purple-txt">1</span> : Décomposer le problème pour faciliter le développement.</p>
<p><span class="pink-purple-txt">2</span> : Faire un kanban des fonctionnalités</p>
<p><span class="pink-purple-txt">COMMIT </span>:</p>
<ul>
  <li>Après un green test</li>
  <li>Après un refactor + green test</li>
</ul>
